.cuerpo {
    margin-left: 100px;
    background-color: antiquewhite;
    font-size: 18px;
    color: rgb(49, 44, 44);
}

h2, h3 {
    font-family: 'Lora', serif;
    color: rgb(51, 50, 50);   
}

.boton1, .boton2 {
    background-color: rgb(110, 117, 117);
    color: rgb(241, 247, 241);
    font-family: 'Lora', serif;
    border: rgb(17, 19, 19);
    margin-left: 30px;
    width: 70px;
}